table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table.result th{
    padding: 15px 0;
}
table.result td{
    padding: 12px 0;
}
table.result>thead>tr>th {
    border-bottom: none;
    background-color: #ebebeb;
    font-size: 16px;
    color: #787878;
    font-weight: normal;
}
table.result tbody tr{
    border-bottom:1px solid #ebebeb;
}