/*价格查询筛选器*/
.filter-clear:after{clear:both;content:"";display:table}
.filter{width:100%;box-sizing:border-box;border:1px solid #ccc;background:#F9F9F9;font-size:14px;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}
.filter-item:last-child{border-bottom:0}
.filter-option.active,.filter-option:hover{color:#FFF;background:#3bb4f2}

.filter-item{border-bottom:1px solid #ccc;height:auto;position:relative}
.filter-item[data-hide="1"]{display: none;}
.filter-option{float:left;cursor:pointer;color:#0E90D2;}
.filter-label{line-height:30px;}
.filter-list{list-style:none;padding:0;position:relative;}

.filter-item-more[data-hide="1"] .icon-shangla{display: none;}
.filter-item-more[data-hide="2"] .icon-xiala{display: none;}

@media screen and (max-width: 640px){
    .filter-label{float: left;margin-left: 15px}
    .filter-option{margin:2px 0;padding:3px 5px;}
    .filter-list{margin:0}
    .filter-item{padding:6px 0;}
}
@media screen and (min-width: 640px){
    .filter-label{width:120px;text-align:right;position:absolute;top:6px;left:10px}
    .filter-option{margin:2px 5px;padding:3px 8px;}
    .filter-list{margin:0 0 0 120px}
    .filter-item{padding:6px 20px;}
}

.page {
    width: 100%;
}

.top_banner {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 28px;
    background: url(./../images/price_bg.png);
    background-size: cover;
}

.main {
    width: 1200px;
    position: relative;
    margin: auto;
}

.searchUnit {
    width: 300px;
    /* background-color: rgba(255, 255, 255, 0.85); */
    border: solid 1px #ffffff;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
    float: right;
    border: solid 1px #c9c9c9;
}

.searchUnit input {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
    background-color: transparent;
    border: none;
    padding-right: 46px;
    outline: none;
}

.searchUnit a.searchBtn {
    display: block;
    width: 48px;
    height: 36px;
    background: url(./../images/search.png) center center no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.filter {
    width: 100%;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
}

.filter-item {
    border-bottom: none;
}

.filter-label {
    color: #666;
    font-size: 16px;
}

.filter-option {
    color: #999;
}

.filter-option.active,
.filter-option:hover {
    color: #fff;
    background-color: #c72a33;
    border-radius: 3px;
}

@media screen and (min-width: 640px) {
    .filter-item {
        padding: 0px;
        margin-top: 23px;
    }

    .filter-label {
        text-align: left;
        left: 0px;
        top: 0;
    }

    .filter-list {
        margin: 0 0 0 92px;
    }
}

.tableSection {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

