@charset "UTF-8";

@font-face {
  font-family: "dinBold";
  src: url("DinCondensedBold.woff2") format("woff2"),
       url("DinCondensedBold.woff") format("woff"),
       url("DinCondensedBold.ttf") format("truetype"),
       url("DinCondensedBold.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.fontdin{
  font-family: dinBold;
}