.news-link {
    display: inline-block;
    vertical-align: middle;
    width: 138px;
    height: 110px;
    border: 1px solid #eee;
    margin: 15px 45px;
}

.news-link img {
    display: block;
    margin: 0 auto;
    width: 120px;
    padding: 20px 0;
}

.index-banner {
    width: 100%;
    height: 560px;
    background: url(/images/resource/index_banner01.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.index-banner .index-banner-content {
    width: 1060px;
    margin: 202px auto;
}

.index-banner .index-banner-content>h1 {
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    line-height: 62px;
}

.index-banner .index-banner-content>p {
    font-size: 24px;
    color: #fff;
    line-height: 62px;
}

.index-banner .index-banner-content>a {
    display: block;
    width: 190px;
    height: 46px;
    background: #5185ff;
    border-radius: 23px;
    line-height: 46px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.index-notice-bar {
    width: 100%;
    height: 120px;
    background: #ffffff;
    box-shadow: 0px 0px 0px rgba(204, 204, 204, 0.24);
}

.index-notice-bar .index-notice-bar-inner {
    width: 1201px;
    margin: 0 auto;
    overflow: hidden;
}

.index-notice-bar .index-notice-bar-inner .index-notice-bar-inner-li {
    height: 70px;
    width: 299px;
    margin: 25px 0;
    border-left: 1px solid #efefef;
    float: left;
}

.index-notice-bar .index-notice-bar-inner .index-notice-bar-inner-li>img {
    display: block;
    margin-top: -25px;
    box-shadow: 0px 0px 0px rgba(204, 204, 204, 0.4);
    border-radius: 50%;
    float: left;
}

.index-notice-bar .index-notice-bar-inner .index-notice-bar-inner-li .index_notice_content {
    float: left;
}

.index-notice-bar .index-notice-bar-inner .index-notice-bar-inner-li .index_notice_content>h3 {
    font-size: 20px;
    line-height: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #666;
    margin: 0;
}

.index-notice-bar .index-notice-bar-inner .index-notice-bar-inner-li .index_notice_content>p {
    margin-top: 15px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #999999;
}

.index-market-tool {
    width: 1200px;
    height: 590px;
    margin: 0 auto;
    background: url(/images/resource/public_half_circle.png) top center no-repeat;
    overflow: hidden;
}

.theme-title {
    margin-top: 55px;
    font-size: 28px;
    color: #333;
    letter-spacing: 2px;
    padding-bottom: 15px;
    text-align: center;
}

.index-left {
    margin-left: 0;
    text-align: left;
}

.theme-title-underline {
    width: 46px;
    height: 2px;
    background-color: #5185FF;
    margin: 0 auto;
}

.index-market-tool .index-market-tool-content {
    width: 1200px;
    margin: 148px auto;
}

.index-market-tool .index-market-tool-content .index-market-tool-content-li {
    width: 380px;
    height: 220px;
    background: #ffffff;
    box-shadow: 0px 0px 0px rgba(204, 204, 204, 0.4);
    border-radius: 6px;
    margin-right: 26px;
    float: left;
}

.index-market-tool .index-market-tool-content .index-market-tool-content-li .index-tool-mark {
    display: block;
    width: 144px;
    height: 144px;
    margin: -72px auto 20px;
}

.index-market-tool .index-market-tool-content .index-market-tool-content-li .index-tool-number {
    width: 46px;
    height: 31px;
    display: block;
    margin: 0 auto;
}

.index-market-tool .index-market-tool-content .index-market-tool-content-li .index-tool-underline {
    width: 45px;
    height: 2px;
    margin: 25px auto;
    background-color: #DDE7F0;
}

.index-market-tool .index-market-tool-content .index-market-tool-content-li>p {
    font-size: 16px;
    color: #666;
    line-height: 16px;
    text-align: center;
}

.index-market-tool .index-market-tool-content .index-market-tool-content-li:last-child {
    margin-right: 0;
}

.index-special-service {
    width: 100%;
    height: 400px;
    padding-top: 50px;
    background: url(/images/resource/index_service_bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.index-special-service .index-special-service-top {
    width: 1200px;
    margin: 20px auto 20px;
}

.index-special-service .index-special-service-top .index-special-service-top-title {
    width: 240px;
    margin-right: 40px;
    text-align: left;
    float: left;
}

.index-special-service .index-realize-more {
    width: 150px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #5185FF;
    color: #5185FF;
    margin-top: 30px;
    font-size: 16px;
    display: block;
}

.index-special-service-top-li {
    float: left;
    width: 270px;
    padding: 20px;
    height: 280px;
    background: #ffffff;
    box-shadow: 3px 0px 30px #ccc;
    border-radius: 6px;
    margin-right: 30px;
}

.index-special-service-top-li .index-special-service-circle {
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xiaohongshu {
    color: #fa3137;
    font-size: 34px;
}

.icon-weixin {
    color: #19CC5C;
    font-size: 34px;
}

.icon-weibo {
    color: #fb5959;
    font-size: 34px;
}

.icon-wanghongzhibo {
    color: #FF9703;
    font-size: 34px;
}

.icon-duanshipin {
    color: #9083FF;
    font-size: 34px;
}

.index-special-service-top-li>h3 {
    font-size: 18px;
    color: #333;
    letter-spacing: 2px;
    margin-top: 38px;
}

.index-special-service-top-li .index-special-service-underline {
    width: 55px;
    height: 2px;
    background: #dde7f0;
    margin: 25px 0;
}

.index-special-service-top-li>p {
    font-size: 14px;
    color: #666;
}

p {
    margin: 0 0 10px;
}

.index-special-service .index-special-service-top .index-special-service-top-li:last-child {
    margin-right: 0;
}

.index-special-service .index-special-service-bot {
    width: 1040px;
    height: 280px;
    margin: 0 auto;
}

.index-xhs {
    background-color: #FFEBEB;
}

.index-woa {
    background-color: #E9F8F1;
}

.index-weibo {
    background-color: #ffe7e4;
}

.index-live {
    background-color: #FEF0E8;
}

.index-video {
    background-color: #ECEAFD;
}

.index-special-service-top-li:hover {
    background: linear-gradient(120deg, #5185ff 0%, #87bffe 99%);
    box-shadow: 0px 0px 0px rgba(204, 204, 204, 0.4);
}

.index-special-service-top-li:hover .index-special-service-circle {
    background: transparent;
    border: 1px solid #fff;
}

.index-special-service-top-li:hover i, .index-special-service-top-li:hover h3, .index-special-service-top-li:hover p {
    color: #fff;
}

.index-special-service-top-li.v5:hover {
    background: linear-gradient(120deg, #ff0000 0%, #f1d2cf 99%);
}

.index-million-resource {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
}

.index-million-resource .index-million-resource-content {
    margin: 0 100px;
    height: 722px;
    background: url(/images/resource/fpublic_circle_blue.png) left no-repeat;
}

.index-million-resource-tabbar {
    width: 600px;
    margin: 40px auto;
    height: 48px;
    line-height: 48px;
    background-color: #F6FAFF;
}

.index-million-resource-tabbar .index-million-resource-tabbar-li {
    width: 120px;
    font-size: 16px;
    color: #666;
    text-align: center;
    float: left;
}

.index-million-resource-tabbar .index-special-service-top-li-checked {
    width: 120px;
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #5185FF;
    margin-top: -8px;
    cursor: pointer;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card {
    width: 1200px;
    margin: 58px auto 0;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li {
    float: left;
    width: 380px;
    height: 210px;
    padding: 30px 20px 0;
    background: #ffffff;
    box-shadow: 3px 0px 30px rgba(205, 205, 205, 0.3);
    border-radius: 6px;
    margin-bottom: 30px;
    margin-right: 30px;
    position: relative;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-bot {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #efefef;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    position: absolute;
    width: 340px;
    left: 20px;
    bottom: 0;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-avatar {
    float: left;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #efefef;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-avatar > .index-million-resource-card-li-avatar-pic {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-info {
    float: left;
    margin-left: 13px;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-info .index-million-resource-card-li-info-nickname {
    font-size: 16px;
    line-height: 16px;
    color: #333;
    margin-top: -2px;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-info .index-million-resource-card-li-info-email {
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #AEB0BB;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-info .index-million-resource-card-li-info-details {
    width: 100%;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-info .index-million-resource-card-li-info-details .index-million-resource-card-li-info-details-li {
    width: 76px;
    float: left;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-info .index-million-resource-card-li-info-details .index-million-resource-card-li-info-details-li > p {
    font-size: 12px;
    color: #B2AEBB;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-top .index-million-resource-card-li-info .index-million-resource-card-li-info-details .index-million-resource-card-li-info-details-li > h4 {
    font-size: 14px;
    color: #E8333F;
    margin-top: 10px;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li:nth-child(3), .index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li:nth-child(6) {
    margin-right: 0;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-bot .paybtn {
    border: 1px solid #5185FF;
    line-height: 20px;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    color: #5185FF;
}

.index-million-resource .index-million-resource-content .index-resource-list .index-million-resource-card .index-million-resource-card-li .index-million-resource-card-li-bot .paybtn:hover {
    color: #5185FF !important;
}

.index-resource-lookmore {
    display: block;
    font-size: 16px;
    color: #5185FF;
    width: 150px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 1px solid #5185ff;
    margin: 20px auto;
}

.index-resource-lookmore:hover {
    background-color: #5185FF;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.index-market-process {
    width: 100%;
    height: 743px;
    background: url(/images/resource/index_market_process.png) center #fff;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.index-market-process > img {
    width: 1122px;
    height: 424px;
    display: block;
    margin: 80px auto;
}

.index-market-effect {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.index-market-effect .index-market-effect-content {
    width: 1220px;
    margin: 0 auto;
    height: 722px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    background: url(/images/resource/fpublic_circle_blue.png) top center no-repeat;
    overflow: hidden;
}

.index-market-effect .index-market-effect-content > img {
    display: block;
    width: 1220px;
    height: auto;
    margin-top: 64px;
}

.index-market-effect .index-market-effect-content .index-resource-lookmore {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.xmb-partners {
    width: 100%;
    height: 650px;
    background: url(/images/resource/partner_bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 1px;
}

.xmb-partners-box {
    width: 1196px;
    margin: 40px auto;
    border: 1px dashed #efefef;
}

.xmb-partners-box-thead {
    width: 100%;
    height: 39px;
    border-bottom: 1px dashed #efefef;
    background: #f6faff;
}

.xmb-partners-box-body {
    background-color: #fff;
}

.xmb-partners-box-thead-li {
    float: left;
    width: 199px;
    line-height: 39px;
    font-size: 14px;
    color: #666;
    text-align: center;
    border-right: 1px solid #efefef;
}

.xmb-partners-box-thead-li i {
    font-size: 20px;
    color: #999;
    vertical-align: middle;
    padding-right: 10px;
}

.xmb-partners-box-pic {
    width: 100%;
    height: 79px;
}

.xmb-partners-box-pic-li {
    float: left;
    width: 199px;
}

.xmb-partners-box-pic-li > img {
    width: 198px;
    height: 77px;
    border-right: 1px dashed #efefef;
    border-bottom: 1px dashed #efefef;
}

.xmb-partners-box-pic-li:hover {
    border: none;
    transform: translate3d(0, 0, 0);
}

.xmb-partners-box-pic-li:hover .partner-default {
    display: none;
    border: none;
}

.xmb-partners-box-pic-li:hover .partner-selected {
    display: block;
    -webkit-box-shadow: 0 0 16px #ddd;
    -moz-box-shadow: 0 0 16px #ddd;
    box-shadow: 0 0 16px #ddd;
    transform: translate3d(0, 0, 0);
    border: none;
}

.partner-selected {
    width: 198px;
    height: 77px;
    display: none;
}

.join-box {
    height: 140px;
    text-align: center;
    background: url(/images/resource/general_blue_stripes.png) center;
    background-size: cover;
    color: #fff;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.join-box > h3 {
    font-size: 22px;
    margin-top: 28px;
    margin-bottom: 22px;
}

.join-box .join-btn {
    display: inline-block;
    width: 150px;
    height: 46px;
    line-height: 46px;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
